<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Knex</title>
        <link href="static/css/style.min.css" rel="stylesheet">
    </head>
    <body style="padding-top: 60px;">
        
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="well">
                    <a href="javascript:void(0)" class="btn btn-success find-users">Find Users</a>
                    <div class="row">
                        <div class="col-md-12 users-wrapper" style="margin-top:15px;">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="static/js/libs/jquery.js"></script>
        <script src="static/js/libs/knex-bundle.js"></script>
        <script src="static/js/libs/inflection.min.js"></script>
        <script src="static/js/libs/bookshelf-bundle.js"></script>
        <script src="static/js/script.min.js"></script>
    </body>
</html>